.principal{
    background-color: antiquewhite;
}

.principal__botao{
    background-color: blue;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.25rem;
    margin: 1px solid black;
    padding: 2rem;
}

.principal__main{
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.principal__cor{
    color: white;
}
